.body {
    font-family : Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}
.calculator-body {
    border : 2px solid black;
    border-radius: 8px;
    height : 500px;
    width : 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.button-container {
    margin: auto;
    display: flex;
    gap: 5px;
    align-items: stretch;
}
.column {
    flex-direction: column;
}
.calc-window {
    height: 60px;
    margin: 20px;
    text-align: right;
    font-size: 40px;
}
.button {
    height: 80px;
    width: 80px;
    font-size: 40px;
    border-radius: 8px;
}

.number {
    background-color: lightseagreen;
}

.operator {
    background-color: lightgreen;
}

.equals {
    background-color: lightgoldenrodyellow;
    height: 100%;
}

.clear {
    background-color: lightgray;
    font-size: 30px;
}

.backspace {
    flex-shrink: 0;
}

.eq {
    height: 100%;
}