.title {
    text-align: center;
}
.calculator-body {
    border : 2px solid black;
    border-radius: 8px;
    height : 800px;
    width : 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.calc-window {
    height: 60px;
    margin: 10px;
    text-align: right;
    font-size: 40px;
}